body {
    text-align: center;
    background: radial-gradient(1000px at center, #09FF00, black);
}
table{
    background: transparent;
    border: 2px solid black;
    border-radius: 20px;
    margin: 0 auto;
}
th, td {
    padding: 15px;
}
h1{
    padding: 15px;
    color: rgba(0,0,0,0.6);
    text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
                 0px -5px 35px rgba(255,255,255,0.3);
    font-size: 4em;
    border: 1px solid black;
    background: linear-gradient(white, gray);
    border-radius: 20px;
    box-shadow: 1px 1px black;
}
#winners {
    font-size: 2em;
}
.player_figure{
    font-size: 1.25em;
}
.player_figure, #winners {
    background-color: white;
    border-color: black;
    border-style: solid;
    margin: 4px;
    border-width: 2px;
    border-radius: 5px;
}
.card {
    border-color: black;
    border-style: solid;
    margin: 2px;
    border-width: 1px;
    border-radius: 5px;
}